@model IEnumerable<Predica.ViewModel.GetTravelListViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-action="Create" asp-controller="Travel" class="btn btn-success btn-lg">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Created by</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
              
                    <tr>
                        <th scope="row">@x.Title</th>
                        <td>@x.PartitionKey</td>
                        <td><a asp-controller="Travel" asp-action="Details" asp-route-PartitionKey="@x.PartitionKey" asp-route-RowKey="@x.RowKey" class="btn btn-info">Details</a></td>
                    </tr>
            }
        </tbody>
    </table>
    <div class="input-group">
        <form method="post" asp-action="SendMail">
            <label>Wyślemy do Ciebie Email!</label>
            <input name="mail" placeholder="Podaj email"/>
            <button type="submit" class="btn btn-success btn-sm">Wyślij email</button>
        </form>
    </div>
</div>
